[submodule "Tools/Cultures-map-editor"]
	path = Tools/Cultures-map-editor
	url = https://github.com/Mikulus6/Cultures-map-editor
[submodule "CulturesGameExtend"]
	path = CulturesGameExtend
	url = https://github.com/HaoJun0823/CulturesGameExtend.git
